* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --canvas-size: 600px;
}

button {
  padding: 20px 50px;
  border-radius: 999px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  background-color: rgb(22, 22, 22);
  transition: all 0.1s;
}

button:hover {
  background-color: rgb(86, 68, 41);
}

button:active {
  color: rgb(22, 22, 22);
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffb627;
}

.left-side, .right-side {
  gap: 64px;
  width: 100%;
  height: var(--canvas-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}
.color-picker {
  width: 144px;
  height: 144px;
  border: solid 5px rgb(255, 255, 255);
  border-radius: 50%;
}

.color-picker::-webkit-color-swatch-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

.color-picker::-webkit-color-swatch {
  margin: 0;
  padding: 0;
  border: 0;
}


.canvas-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: var(--canvas-size);
  width: var(--canvas-size);
  border: 2px solid #cd9320;
  user-select: none;
}

.canvas-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  flex: 0 0 auto;
  background-color: #fff;
}
