* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --canvas-size: 600px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffb627;
}

.left-side, .right-side {
  gap: 32px;
  width: 100%;
  height: var(--canvas-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}
.color-picker {
  width: 72px;
  height: 72px;
  border: solid 2px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  border-radius: 50%;
}

.color-picker::-webkit-color-swatch-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

.color-picker::-webkit-color-swatch {
  margin: 0;
  padding: 0;
  border: 0;
}


.canvas-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: var(--canvas-size);
  width: var(--canvas-size);
  border: 2px solid black;
  user-select: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.canvas-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  flex: 0 0 auto;
  background-color: #fff;
}
